*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html {
    background-color: rgb(116, 105, 105);
}
.calculator-flex{
    display:Flex;
    justify-content: center;
    .calculator{
        margin-top:7rem;
       h1{
        text-align: center;
        margin-bottom: 6.25rem;
        animation-name: text;
        animation-duration:10s ;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
       }
    .calculator-ui{
        width:1000px;
        border-radius: 50px;
        background-color:gray;
        padding:6rem;
        .calculator-ui__flex{
            display:flex;
            margin-left: 10px;
            .calculator-ui__operacije{
                grid-template-columns: repeat(1,1fr);
                & > button {
                    background-color: greenyellow;
                }
            }
        }
        .calculator-ui__input{
            margin-bottom:5rem;
            display: flex;
            gap:0.5rem;
            .input{
                border-radius: 20px;
                padding:20px;
                height:80px;
                width:100%;
                text-align: center;
                font-size: 1.5rem;
                background-color: white;
            }
            button{
                border-radius: 20px;
                height:80px;
                background-color: red;
            }
        }
        .calculator-ui__numbers{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            #equal{
                background-color: rgb(81, 81, 238);
            }
        }
    }
    }
}
button{
    width:200px;
    height:100px;
}
@keyframes text {
    0%{
        color: wheat;
    }
    20%{
       color: yellow;
    }
    80%{
       color: orange;
    }
    100%{
        color: blue;
    }
}